<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'courses.css' %}">
</head>
<body>
    
    <nav>
        <a href="/"><h2>TechLearners</h2></a>

        <ul>
            <li><a href="/"> Home </a></li>
            <li><a href="/courses/"> Courses </a></li>
        </ul>
    </nav>

    <main>

        {% for course in Data %}

            <a style="text-decoration: none;" href="{% url 'CourseDetails' course.id %}">
                <div class="card">

                    {% if course.poster_local %}
                        <img src="{{course.poster_local.url}}" alt="">
                    {% else %}
                        <img src="{{course.poster_url}}" alt="">
                    {% endif %}

                    <div class="scrollable">
                         
                        <div class="disc">

                            <div class="title">
                                <h3>{{course.course_name}}</h3>
                                <p>{{course.description}}</p>
                            </div>
            
                            <div class="about">
                                <p>{{course.tutor_name}}</p>
                                
                                {% if course.duration_months %}
                                    <p>{{course.duration_months}} Months</p>
                                {% else %}
                                    <p>{{course.duration_years}} Years</p>
                                {% endif %}
            
                            </div>

                            <p class="price"> ₹{{course.price}} </p>
                        </div>
        
                        <button>Buy now</button>

                    </div>
                    
                </div>
            </a>

        {% endfor %}
        

    </main>


</body>
</html>